body {
  background: black;
}
h1 {
  color: white;
  font-size: 60px;
  text-align: center;
  text-shadow: 0 0 10px blue, 0 0 30px blue, 0 0 60px blue;
  transition: 0.3s;
}

h1:hover {
  text-shadow: 0 0 10px blue, 0 0 30px blue, 0 0 60px blue, 0 0 120px blue;
}
img:hover { transition: all 0.3s ease;
  transform: scale(1.2);
  border-radius: 70px;
}